{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col-md-2"></div>
    <div class="col-md-8">
      <div id="accordion">
    
        {% for job in company_results %}
        
        <div class="card">
          <div class="card-header" id="{{job.job_id}}" data-toggle="collapse" data-target="#test{{job.job_id}}">


              <div class="row">
                <div class="col-10">
                  <img class="logo" src="{{ job.company.company_logo }}">
                  <h3>{{ job.job_title }}</h3>
                  <h4 class="job_location">
                    <div id="company">{{job.company_name}} &middot;&nbsp;</div>
                    <div id="local">{{ job.job_location }}</div>
                  </h4>
                </div>
                <div class="col-2" id="apply-col">
                  <a class="apply-button" href="{{ job.job_link }}">Apply</a>
                </div>
              </div>


          </div>

          <div id="test{{job.job_id}}" class="collapse" aria-labelledby="{{job.job_id}}" data-parent="#accordion">
            <div class="card-body">
              <div class="job-description">
                {{job.job_description|safe}}
              </div>
            </div>
          </div>
        </div>

        {% endfor %}


        {% for job in location_results %}
        
        <div class="card">
          <div class="card-header" id="{{job.job_id}}" data-toggle="collapse" data-target="#test{{job.job_id}}">


              <div class="row">
                <div class="col-10">
                  <img class="logo" src="{{ job.company.company_logo }}">
                  <h3>{{ job.job_title }}</h3>
                  <h4 class="job_location">
                    <div id="company">{{job.company_name}} &middot;&nbsp;</div>
                    <div id="local">{{ job.job_location }}</div>
                  </h4>
                </div>
                <div class="col-2" id="apply-col">
                  <a class="apply-button" href="{{ job.job_link }}">Apply</a>
                </div>
              </div>


          </div>

          <div id="test{{job.job_id}}" class="collapse" aria-labelledby="{{job.job_id}}" data-parent="#accordion">
            <div class="card-body">
              <div class="job-description">
                {{job.job_description|safe}}
              </div>
            </div>
          </div>
        </div>

        {% endfor %}


        {% for job in job_title_results %}
        
        <div class="card">
          <div class="card-header" id="{{job.job_id}}" data-toggle="collapse" data-target="#test{{job.job_id}}">


              <div class="row">
                <div class="col-10">
                  <img class="logo" src="{{ job.company.company_logo }}">
                  <h3>{{ job.job_title }}</h3>
                  <h4 class="job_location">
                    <div id="company">{{job.company_name}} &middot;&nbsp;</div>
                    <div id="local">{{ job.job_location }}</div>
                  </h4>
                </div>
                <div class="col-2" id="apply-col">
                  <a class="apply-button" href="{{ job.job_link }}">Apply</a>
                </div>
              </div>


          </div>

          <div id="test{{job.job_id}}" class="collapse" aria-labelledby="{{job.job_id}}" data-parent="#accordion">
            <div class="card-body">
              <div class="job-description">
                {{job.job_description|safe}}
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>

    </div>
  <div class="col-md-2"></div>
</div>








{% endblock %}