{% extends 'base.html' %}
{% block content %}

<div class="row">

  {% if isNone %}
  <div class="col-md-3"></div>
  <div class="col-md-6 no-results">
    <h4>Sorry, we couldn't find anything that matched your search.</h4>
    <h4>Try searching for something else or <a id="noresults" href="/">view all jobs</a>.</h4>
  </div>
  <div class="col-md-3"></div>
    

  {% else %}
  <div class="col-md-2"></div>
    <div class="col-md-8">
      {% if total_results == 1 %}
      <h5>We found 1 job listing. | <a id="view-all" href="/">View All</a></h5>
      {% else %}
      <h5>We found {{ total_results }} job listings. | <a id="view-all" href="/">View All</a></h5>
      {% endif %}
      <div id="accordion">
    
        {% for job in company_results %}
        
        <div class="card">
          <div class="card-header" id="{{job.id}}" data-toggle="collapse" data-target="#test{{job.id}}">


              <div class="row">
                <div class="col-10">
                  <img class="logo" src="{{ job.company.company_logo }}">
                  <h3>{{ job.job_title }}</h3>
                  <h4 class="job_location">
                    <div id="company">{{job.company_name}} &middot;&nbsp;</div>
                    <div id="local">{{ job.job_location }}</div>
                  </h4>
                </div>
                <div class="col-2" id="apply-col">
                  <a class="apply-button" href="{{ job.job_link }}">Apply</a>
                </div>
              </div>


          </div>

          <div id="test{{job.id}}" class="collapse" aria-labelledby="{{job.id}}" data-parent="#accordion">
            <div class="card-body">
              <div class="job-description">
                {{job.job_description|safe}}
              </div>
            </div>
          </div>
        </div>

        {% endfor %}


        {% for job in location_results %}
        
        <div class="card">
          <div class="card-header" id="{{job.id}}" data-toggle="collapse" data-target="#test{{job.id}}">


              <div class="row">
                <div class="col-10">
                  <img class="logo" src="{{ job.company.company_logo }}">
                  <h3>{{ job.job_title }}</h3>
                  <h4 class="job_location">
                    <div id="company">{{job.company_name}} &middot;&nbsp;</div>
                    <div id="local">{{ job.job_location }}</div>
                  </h4>
                </div>
                <div class="col-2" id="apply-col">
                  <a class="apply-button" href="{{ job.job_link }}">Apply</a>
                </div>
              </div>


          </div>

          <div id="test{{job.id}}" class="collapse" aria-labelledby="{{job.id}}" data-parent="#accordion">
            <div class="card-body">
              <div class="job-description">
                {{job.job_description|safe}}
              </div>
            </div>
          </div>
        </div>

        {% endfor %}


        {% for job in job_title_results %}
        
        <div class="card">
          <div class="card-header" id="{{job.id}}" data-toggle="collapse" data-target="#test{{job.id}}">


              <div class="row">
                <div class="col-10">
                  <img class="logo" src="{{ job.company.company_logo }}">
                  <h3>{{ job.job_title }}</h3>
                  <h4 class="job_location">
                    <div id="company">{{job.company_name}} &middot;&nbsp;</div>
                    <div id="local">{{ job.job_location }}</div>
                  </h4>
                </div>
                <div class="col-2" id="apply-col">
                  <a class="apply-button" href="{{ job.job_link }}">Apply</a>
                </div>
              </div>


          </div>

          <div id="test{{job.id}}" class="collapse" aria-labelledby="{{job.id}}" data-parent="#accordion">
            <div class="card-body">
              <div class="job-description">
                {{job.job_description|safe}}
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>

      {% endif %}
    </div>
  <div class="col-md-2"></div>
</div>








{% endblock %}